body {
  background-color: #e2ebea;
  font-family: 'Oswald', sans-serif;
}

h1 {
  text-align: center;
  color: #0a0a0a;
  font-size: 40px;
}

#form-box {
  margin-left: 38%;
}


/* City information Form  */
.form-title {
  margin: 20px 0px 0px 20px;
}

form {
  width: 400px;
  margin: 5px 0px 20px 20px;
  padding: 5px;
  border: 1.5px solid #333;
}

.form-box {
  border: 2px solid #ccc;
  margin: 15px;
  padding: 5px;
}

#text-box {
    margin-left: 48px;
    width: 240px;
}

#num-box {
    margin-left: 20px;
    width: 240px;
}

/* Download button */
#city-submit {
  margin: 20px 10px 10px 110px;
  background-color: rgb(38, 91, 143);
  border: none;
  color: white;
  padding: 6px;
  cursor: pointer;
  font-size: 18px;
  width: 180px;
}
  
/* Darken button on mouse-over */
#city-submit:hover {
background-color: rgba(27, 42, 88, 0.712);
transition: .4s;
}


/* Weather information */
#display-box {
    border: 1px solid black;
    /* width: 50px; */
    margin-left: 40%;
}

.headline {
  text-align: center;
  color: #0a0a0a;
  font-size: 40px;
}

.reply {
  color: #0a0a0a;
  margin-left: 20px;
  font-size: 18px;
}
