body {
  background-color: #e2ebea;
  font-family: "Oswald", sans-serif;
}

h1 {
  text-align: center;
  color: #0a0a0a;
  font-size: 40px;
}

#input-form {
  margin: auto;
}

/* City information Form */
.form-title {
  text-align: center;
  margin: 25px 0px 1px -290px;
}

form {
  width: 400px;
  margin: 5px 0px 20px 20px;
  padding: 5px;
  border: 1.5px solid #333;
}

.form-box {
  border: 2px solid #ccc;
  margin: 15px;
  padding: 5px;
}

#text-box {
  margin-left: 48px;
  width: 240px;
}

.btn {
  background-color: rgb(38, 91, 143);
  border: none;
  color: white;
  cursor: pointer;
  padding: 6px;
}

/* Darken button on mouse-over */
.btn:hover {
  background-color: rgba(27, 42, 88, 0.712);
  transition: 0.4s;
}

/* Submit location button */
#city-submit {
  margin: 20px 10px 10px 110px;
  font-size: 18px;
  width: 180px;
}

/* Weather information Section */
#display-box {
  border: 1px solid black;
  background-color: #ffffffb2;
  width: 380px;
  margin: auto;
}

.reply {
  color: #0a0a0a;
  font-size: 18px;
  text-align: center;
}

#city {
  font-size: 22px;
}

#icon {
  margin-left: 145px;
}

#temp {
  margin-left: 145px;
  display: inline-block;
}

#standard-btn {
  margin-left: 20px;
  font-size: 14px;
  color: rgb(38, 91, 143);
  background-color: rgba(250, 235, 215, 0);
}

#change-btn {
    font-size: 16px;
    display: block;
    margin: auto;
    margin-top: 20px; 
}
