body {
  background-color: #e2ebea;
  font-family: 'Oswald', sans-serif;
}

h1 {
  text-align: center;
  color: #0a0a0a;
  font-size: 40px;
}

#app-box {
  margin-left: 38%;
}

/* City information Form  */
.form-title {
  margin: 20px 0px 0px 20px;
}

form {
  width: 400px;
  margin: 5px 0px 20px 20px;
  padding: 5px;
  border: 1.5px solid #333;
}

.form-box {
  border: 2px solid #ccc;
  margin: 15px;
  padding: 5px;
}

button {
  margin: 20px 10px 10px 5px;
}

/* Weather information */
.headline {
  text-align: center;
  color: #0a0a0a;
  font-size: 40px;
}

.reply {
  color: #0a0a0a;
  margin-left: 20px;
  font-size: 18px;
}

.result {
  margin-left: 20px;
}
