body {
  background-color: #111111;
}
h1{
  text-align: center;
  color: #dddddd;
  font-size: 50px;
}
h2{
  text-align: center;
  color: #dddddd;
  font-size: 45px;
}
#city-display{
  color: #dddddd;
  text-align: center;
}
#temp-display{
  color: #dddddd;
  text-align: center;
}

p{
  text-align: center;
  color: #dddddd;
}